@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 215 94% 10%;

        --card: 0 0% 100%;
        --card-foreground: 215 94% 10%;

        --popover: 0 0% 100%;
        --popover-foreground: 215 94% 10%;

        --primary: 213 100% 51%;
        --primary-foreground: 0 0% 100%;

        --secondary: 248 48% 43%;
        --secondary-foreground: 0 0% 100%;

        --muted: 213 100% 97%;
        --muted-foreground: 215 42% 32%;

        --accent: 311 54% 52%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 100%;

        --border: 213 35% 92%;
        --input: 213 35% 92%;
        --ring: 213 100% 51%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222 47% 11%;
        --foreground: 210 40% 98%;

        --card: 222 47% 11%;
        --card-foreground: 210 40% 98%;

        --popover: 222 47% 11%;
        --popover-foreground: 210 40% 98%;

        --primary: 263 89% 50%;
        --primary-foreground: 210 40% 98%;

        --secondary: 317 77% 50%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 174 81% 35%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 263 89% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground transition-colors duration-300;
    }
}

body {
    font-family: "Outfit" sans-serif;
}

:focus {
    outline: none;
}

/* Remove chrome input focus */
input,
textarea,
select,
a,
svg,
button {
    --tw-ring-offset-color: "transparent" !important;
}

/* For Customized Calendar */
.rdp-vhidden {
    @apply hidden;
}
